{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/vue-datetime.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block title %}Airport Taxi Booking{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="wrapper">
    <h1>Airport Taxi Booking</h1>
    <div id="app"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script id="airports-data" type="application/json">{ "airports": {{ airport_data|raw }}, "terminals": {{ airport_terminal_data|raw }} }</script>

    {{ encore_entry_script_tags('booking') }}
{% endblock %}
